p:empty {
	display: block; border: 2px dashed magenta; min-height: 15px; margin: 5px;
}

p:empty:before {
	content: '[- - empty <p> - -]';
	color: magenta; font-weight: bold; font-family: monospace;
}

.full-of-space {
	display: block; border: 2px dashed orange; min-height: 15px; margin: 5px;
}

.full-of-space:before {
	content: '[- - empty <p> full of spaces - -]';
	color: orange; font-weight: bold; font-family: monospace;
}

.needs-wrapping {
	display: block; border: 2px dashed cyan; min-height: 15px; margin: 5px;
}

.needs-wrapping:before {
	content: '[- - unwrapped text - -]';
	color: cyan; font-weight: bold; font-family: monospace;
}